
@{

    Layout = "~/Views/Shared/_RegisteredUser.cshtml";

}

@using NoteMarketPlace.Models;


<!-- dashboard Heading -->
@{
    NoteMarketEntities db = new NoteMarketEntities();
    int id = Convert.ToInt32(Session["UserID"]);

    int buyerRequest = db.Downloads.Where(m => m.SellerID == id).Count();

    int myDownload = db.Downloads.Where(m => m.BuyerID == id).Count();

    int mySoldNotes= db.Downloads.Where(m => m.SellerID == id).Count();



}

<div class="dashboard-title-wrapper">
    <div class="container">
        <div class="dashboard-title-section">
            <div class="row">
                <div class="col-md-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-primary" id="add-note"><a href="/User/AddNotes">ADD NOTE</a></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="left">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-block">
                                <div class="earning-detail text-center">
                                    <div class="earning-img">
                                        <img src="~/Content/images/earning-icon.svg">
                                    </div>
                                    <h4>
                                        My Earning
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="dashboard-block">
                                <div class="number-detail  text-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="number-sold">
                                                <p>@mySoldNotes</p>
                                                <h4>Number of Notes Sold</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="money-earned">
                                                <p>&#36;10,00,000</p>
                                                <h4>Money Earned</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dashboard-block">
                            <div class="download-detail text-center">
                                <div class="number-downloads">
                                    <p>@myDownload</p>
                                    <h4>My Downloads</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dashboard-block">
                            <div class="rejected-detail text-center">
                                <div class="number-rejected">
                                    <p>12</p>
                                    <h4>My Rejected Notes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dashboard-block">
                            <div class="buyer-detail text-center">
                                <div class="number-buyer">
                                    <p>
                                        
                                        @buyerRequest
                                    </p>
                                    <h4>Buyer Request</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- in Progress-->

@{

    Html.RenderAction("_InProgressDashboard", "User");
}
<!-- in published-->
@{
    Html.RenderAction("_InPublishedDashboard", "User");
}

