@{
    int i = 0;

    Layout = "~/Views/Shared/_RegisteredAdmin.cshtml";

}
<div class="member-title-wrapper">
    <div class="container">
        <div class="dashboard-title-section">
            <div class="row">
                <div class="col-md-5">
                    <h1>Members Details</h1>
                </div>

            </div>
            <!---->
            @{

                Html.RenderAction("_MemberDetails", "Admin");
            }
        </div>
        <hr>
    </div>
    <div class="container">
        <div id="member-notes-title">
            <p>Notes</p>
        </div>
        <!---->
        @{

            Html.RenderAction("_MemberNotes", "Admin");
        }
    </div>
</div>