@{ 
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title -->
    <title>home page</title>


    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/content/css/bootstrap/bootstrap.css">

    <!-- FONT CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
             :wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/content/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="site-header">
            <div class="header-wrapper">
                <div class="logo-wrapper">
                    <a href="#" title="Site Logo">
                        <img src="~/Content/images/top-logo.png">
                    </a>
                </div>
                <div class="navigation-wrapper">
                    <nav class="main-nav">
                        <ul class="menu-navigation">
                            <li>
                                <a href="/User/SearchNotes">Search Notes</a>
                            </li>
                            <li>
                                <a href="/User/Dashboard">Sell Your Notes</a>
                            </li>
                            <li>
                                <a href="/User/FAQ">FAQ</a>
                            </li>
                            <li>
                                <a href="/User/ContectUs">Contact</a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" id="home-login"><a href="/User/Index">Login</a></button>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section class="first-section">
                <div class="container-fluid" id="home-first-heading">
                    <div class="row">
                        <h2>Download Free/Paid Notes<br>or Sale your Book</h2>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis hic voluptate at reprehenderit Omnis hic voluptate at reprehenderit </p>
                    </div>
                    <div class="row">
                        <button type="button" class="btn bg-transparent" id="home-learn-more">LEARN MORE</button>
                    </div>
                </div>
            </section>
            <section class="second-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>About<br>NotesMarketPlace</h1>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur facilis officiis esse iste culpa fugiat numquam, minima! Voluptatem commodi quasi quae esse distinctio repudiandae dignissimos asperiores, praesentium libero doloremque!</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis autem eos sequi ullam, maiores rem veniam qui nemo optio eum, libero laboriosam quisquam maxime dolorem illo repellat molestiae totam fugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="third-section bg-light">
                <div class="container-fluid">
                    <div class="row">
                        <h1>How is Works</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="home-left">
                            <div class="row">
                                <img class="img-responsive rounded-circle" src="~/Content/images/download.png">
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Download Free/Paid Notes</h3>
                                    <p>Get Material for your Cource ect.</p>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-primary" id="home-download"><a ></a>DOWNLOAD</button>
                            </div>
                        </div>
                        <div class="col-md-6" id="home-right">
                            <div class="row">
                                <img class="img-responsive rounded-circle" src="~/Content/images/seller.png">
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3>Seller<br></h3>
                                    <p>Upload and Download Cource<br>and Materials ect.</p>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-primary" id="home-sell-book">SELL BOOK</button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="fourth-customers-reviwe">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <h1>What our Customers are Saying</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="customer-reviwe">
                                <div class="profile-block">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-3 col-xs-6">
                                                <img src="~/Content/images/customer-1.png" alt="client" class="img-responsive img-circle">
                                            </div>
                                            <div class="col-md-10 col-sm-3 col-xs-6">
                                                <div class="author-name-des">
                                                    <p>Walter Meller</p>
                                                    <p>Founder & CEO , Matrix Group</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ad aspernatur vitae, molestiae dolor quod praesentium distinctio eaque, velit voluptatibus corporis ex minus a voluptatum iure laborum eum neque voluptates.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="customer-reviwe">
                                <div class="profile-block">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-3 col-xs-6">
                                                <img src="~/Content/images/customer-2.png" alt="client" class="img-responsive img-circle">
                                            </div>
                                            <div class="col-md-10 col-sm-3 col-xs-6">
                                                <div class="author-name-des">
                                                    <p>Walter Meller</p>
                                                    <p>Founder & CEO , Matrix Group</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ad aspernatur vitae, molestiae dolor quod praesentium distinctio eaque, velit voluptatibus corporis ex minus a voluptatum iure laborum eum neque voluptates.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="customer-reviwe">
                                <div class="profile-block">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-3 col-xs-6">
                                                <img src="~/Content/images/customer-3.png" alt="client" class="img-responsive img-circle">
                                            </div>
                                            <div class="col-md-10 col-sm-3 col-xs-6">
                                                <div class="author-name-des">
                                                    <p>Walter Meller</p>
                                                    <p>Founder & CEO , Matrix Group</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ad aspernatur vitae, molestiae dolor quod praesentium distinctio eaque, velit voluptatibus corporis ex minus a voluptatum iure laborum eum neque voluptates.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="customer-reviwe">
                                <div class="profile-block">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-3 col-xs-6">
                                                <img src="~/Content/images/customer-4.png" alt="client" class="img-responsive img-circle">
                                            </div>
                                            <div class="col-md-10 col-sm-3 col-xs-6">
                                                <div class="author-name-des">
                                                    <p>Walter Meller</p>
                                                    <p>Founder & CEO , Matrix Group</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ad aspernatur vitae, molestiae dolor quod praesentium distinctio eaque, velit voluptatibus corporis ex minus a voluptatum iure laborum eum neque voluptates.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <hr>
            <!-- footer -->
            <div class="card-footer row m-0">
                <p id="copyright"> copyright &copy; TatvaSoft All rights reserverd</p>
                <div>
                    <p>
                        <label class="footer-right">
                            <i class="fa fa-facebook circle-icon"></i>
                            <i class="fa fa-twitter circle-icon"></i>
                            <i class="fa fa-linkedin circle-icon"></i>

                        </label>
                    </p>
                </div>
            </div>
        </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- custon -->
    <script src="~/scripts/js/script.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>